body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('bg_opt.jpg');
    background-size: cover;
    filter: blur(2px) sepia(30%);
    transform: scale(1.05);
}

div#container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 350px;
  width: 100%;
  transform-style: preserve-3d;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

div#title {
  font-family: 'Megrim', monospace;
  color: rgba(255, 255, 255, 1);
  font-size: 10vw;
  text-shadow: 0px 3px 2px black;
  padding-top: 20px;
}

div#links li {
  display: inline;
}

div#links ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

div#main {
  display: flex;
  flex-direction: column;
}

a img {
  filter: drop-shadow(0 4px 3px black);
}

a img:hover {
  transition: all 0.1s ease;
  transform: scale(0.97);
  filter: drop-shadow(0 -1px 2px black);
}

@media screen and (max-width: 550px) {
  div#main {
    height: 100%;
  }
  div#links {
    height: 100%;
    display: flex;
    padding: 20px 0;
  }
  div#links ul {
    flex-direction: column;
  }
  body::before {
    background-position-x: -18vw;
  }
}
